body { color:#666; background-color:#eee; margin:1em 0; font-family: sans-serif; }
#wrapper { width:740px; margin:0 auto; }
#head h1 { color:#555; }
#mainNav a { color: #ff1b1b; font-weight:bold; text-decoration:none; }
#mainNav ul { padding:0; list-style:none; }
#mainNav li { float:left; padding:7em; }
#mainNav li a img { border:0; }
#mainNav li:first-child { padding-left:0; }